.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height:90vh;
}

.mb-3 {
  max-width: 550vh;
  width: auto;

}

.align-items-center{
  margin-left: 60px;
  
}

.bi-triangle-half{
  transform: scale(2);
}
.bi-images,
.bi-folder2-open,
.bi-emoji-smile {
  transform: scale(2);
}