body{
    padding: 70px 20px 0;
}

nav{
    display: block;
    width: 240px;
    height: 100%;
    position: fixed;
    right: -240px;
    top: 0;
    bottom: 0;
    background-color: #aedeff;
    overflow: auto;
    z-index: 3;
    transition: right 0.5s ease;
    opacity: 1;
    transition: all 0.5s;
}

.open nav{
    right: 0;
    opacity: 1;
    transition: right 0.5s ease;
}

::-webkit-scrollbar {
    display: none;
  }

nav .content{
    padding: 70px 20px;
}

nav .content p{
    text-align: center;
}

nav .content a{
    text-decoration: none;
    color: #000;
}

nav .content span{
    display: block;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

nav .content ul{
    list-style: none;
    margin: 0;
    padding: 0px;
}

nav .content ul li{
    display: flex;
    justify-content: center;
    margin: 0;
    border-bottom: 1px solid #333;
}

nav .content ul li a{
    color: #000;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.2s;
}

nav .content ul li a:hover{
    font-size: 25px;
}

.hamburger{
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 4;
    cursor: pointer;
}

.hamburger span{
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: black;

}

.hamburger span:nth-child(1){
    top: 4px;
}
.hamburger span:nth-child(2){
    top: 14px;
}
.hamburger span:nth-child(3){
    bottom: 4px;
}

.header-h{
    display: block;
    position: fixed;
    background-color: #aedeff;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-h img{
    position: absolute;
    top: 50%;
    left: 10px;
}

#mask{
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    cursor: pointer;
    z-index: 2;
    transition: opacity 0.5s, visibility 0.5s;
}

.open #mask{
    opacity: 0.4;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
}