/*ボタンの設定*/
.form-select{
	max-width: 150px;
  	width: auto;
	position: absolute;
	top:10%;
	right: 1%;
	margin-left:5px; /* 適宜変更してください */

  }

  /*文字、枠のおおよその位置を決めている*/
  .kengen {
	height: 50px;
	max-width: 700px;
	width: auto;
	position: absolute;
	top: -30%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	outline: solid 2px black;
  }

/*アイコンの位置*/
  .col-md-4{
	position: relative;
	font-size: 35px;
	top:-3px;
	left: 10vh;
	margin: 0px 0px 0 0px;
  }

/*権限の人の名前部分*/
.human{
	position: absolute;
	font-size: 35px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 30%;
	margin: auto;
}

/*説明文*/
.explanation{
	font-size: 35px;
	position: absolute;
	top: 65vh;
	right: 0;
	bottom: 10%;
	left: 23%;
	margin: auto;
}