/*ボタンの設定*/
.form-select{
	max-width: 150px;
  	width: auto;
	position: absolute;
	top:10%;
	right: 1%;
	margin-left:5px; /* 適宜変更してください */

  }

  /*文字、枠のおおよその位置を決めている*/
  .kengen {
	height: 50px;
	max-width: 800px;
	width: auto;
	position: absolute;
	top: -30%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	outline: solid 2px black;
  }

/*アイコンの位置*/
  .col-md-4{
	margin-right: 10px;
	font-size: 35px;
	top:3vh;
	left:10%;
	margin: -25px 0 0 -25px;
	position: absolute;
  }

/*権限の人の名前部分*/
.human{
	position: absolute;
	font-size: 35px;
	left:auto;
	margin: 0px 0 0 18vh;
	
}

/*説明文*/
.explanation{
	text-align: center;
	font-size: 35px;
	top: 70vh;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}