/*ボタンの設定*/
.p-3{
	max-width: 150px;
  	width: auto;
	  text-align: center;
	  margin-top: -4%;
	  margin-right: 0;
	  margin-bottom: 0;
	  margin-left: 60%;
}

  /*文字、枠のおおよその位置を決めている*/
  .kengen {
	height: 50px;
	max-width: 700px;
	width: auto;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 25%;
	outline: solid 2px black;
  }

/*アイコンの位置*/
  .col-md-4{
	font-size: 35px;
	text-align: center;
	margin-top:-3px;
	margin-right: 20vh;
  }

/*権限の人の名前部分*/
.human{
	text-align: center;
	font-size: 35px;
	margin-top: -7vh;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

/*説明文*/
.explanation{
	font-size: 35px;
	margin-top: 30vh;
	margin-right: 0;
	margin-bottom: 10%;
	margin-left: 25%;
}