.profile{
    font-size: 120px;
    text-align: center;
    margin-top: 10px !important;
}
.id-box{
    display: flex;
    justify-content: center;
    margin-top: 100px !important;
}
.id{
    font-size: 30px;
    margin-right: 50px;
}
.from-control{
    width: 500px;
    background-color: #E6E6FA;
}
.password-box{
    display: flex;
    justify-content: center;
    margin-top: 70px !important;
}
.password{
    font-size: 30px;
    margin-right: 57px;
}
#passwordHlepBlock{
    text-align: center;
    font-size: 10px;
    margin-left: 70px;
}
.button{
    text-align: center;
    margin-top: 100px !important;
}
